@require "app/styles/charte"

#login
	text-align: center

	&-title
		margin: .5em 0
		font-size: 2em

	&-responsability
		padding-bottom: 1em
		border-bottom: 1px solid $silver
		font-style: italic
		font-size: .7em

	&-text
		padding-bottom: 1em
		border-bottom: 1px solid $silver

	&-register
		padding-top: 1em
		border-top: 1px solid $silver

	&-button
		border: 1px solid $silver
		background: $dark
		color: $silver
		padding: .4em .8em
		font-family: "VT323"
		font-size: .9em
		margin: 1em 0

		&-validate
			font-size: .7em
			font-family: "VT323"
			background: $darker
			color: $silver
			position: relative
			bottom: .15em

	.login
		display: block
		margin: 10px
		background: $dark
		text-align: center
		padding: .2em 0

		&-block
			display: flex
			flex-direction: row
			justify-content: center

		&-text
			font-size: 1.5em
			width: 30%

		&-input
			font-family: "VT323"
			color: $silver
			text-align: center
			background: none
			font-size: .7em
			margin-left: 2em
