#game
	width: 800px
	height: 400px
	margin: 20px auto
	background: lightgrey
	border: 1px solid black
	text-align: justify

	&-title
		padding: 5px
		background-color: grey

	&-text
		font-size: 1.5em
		padding: 5px

	
